/**
 * Author: Gaston Siffert
 * Created Date: 2017-12-07 09:12:53
 * Last Modified: 2017-12-07 10:12:16
 * Modified By: Gaston Siffert
 */

.race_board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

table {
    border: 1px solid black;
    background-color: #c4b7a6;
}

/* Try to make an old fashion boarding time */
.race_item, .competitor_item {
    background-color: rgb(73, 71, 71);
    color: whitesmoke;
}

th, td {
    text-align: center;
    padding: 5px;
}