html, body, #root, .root, main {
  height: 100%;
}

h1, h2 {
    margin: 0
}

header, footer, main {
    text-align: center;
    color: rgb(10, 10, 10);
}

body {
  display: flex;
  flex-direction: column;
}

header {
  min-height: 60px;
  background-color: #dac292;
}

main {
  background-color: #e6e2d3;
}

footer {
  background-color: #b9936c;
  min-height: 30px;
}